{% extends 'base.html' %}

{% block app_content %}
    <a class="btn btn-warning home" href="{{ url_for('index') }}">На главную</a>
    <a class="btn btn-info refresh" href="{{ url_for('live') }}">Обновить жизнь</a>
    <div class="counter">{{ game.counter }}</div>
    <table class="world">
	{% for i in range(game._GameOfLife__width) %}
	    <tr>
		{% for j in range(game._GameOfLife__height) %}
		{% if game.world[i][j]  %}
		    <td class="cell living-cell"></td>
		{% elif game.world[i][j]==0 and game.old_world[i][j] %}
		    <td class="cell dead-cell"></td>
		{% else %}
		    <td class="cell"></td>
		{% endif %}
		{% endfor %}
	    </tr>
	{% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
	setInterval(() => window.location.reload(), 1000);
    </script>
{% endblock %}
